name: Data Pipeline CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: ecommerce_db_test
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: admin
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DB_HOST: localhost
      DB_PORT: 5432
      DB_NAME: ecommerce_db_test
      DB_USER: admin
      DB_PASSWORD: admin

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create schemas
        run: |
          psql postgresql://admin:admin@localhost:5432/ecommerce_db_test \
          -f sql/ddl/create_schemas.sql

      - name: Run data generation
        run: python scripts/data_generation/generate_data.py

      - name: Load staging data
        run: python scripts/ingestion/load_to_staging.py

      - name: Run transformations
        run: python scripts/transformation/staging_to_production.py

      - name: Run tests with coverage
        run: |
          pytest tests --cov=scripts --cov-report=term-missing

      - name: Enforce coverage threshold
        run: |
          coverage report --fail-under=50
